
body {
	background-image: url("../images/brickwall_@2X.png");
}

.divBanner {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-color: Gray;
	position: relative;
	margin: 0 auto: ;
	background-color: #ffffff;
}

.divNameHeading {
	width: 250px;
	height: 80px;
	background-color: #4aaaa5;
	position: absolute;
	top: 9px;
	left: 160px;
	text-align: center;
	z-index: 2;	
}


.divNameHeading h1 {
	color: White;
	font-size: 30px;
}

.divNavigationBar {
	width: 450px;
	height: 80px;
	position: absolute;
	top: 35px;
	right: 310px;
}

.divNavigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 20px;
}

.divNavigationBar li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: solid 1px Gray;

}

.divNavigationBar li a {
	display: inline;
	text-decoration: none;
	color: Gray;
}

.divMainSection {
	width: 650px;
	height: 500px;
	margin-left: 150px;
	margin-top: 35px;
	background-color: #ffffff;
	border: solid 1px #cccccc;
	float: left;
}

.divMainSectionContactNameBox {
	width: 600px;
	height: 25px;
	border: solid 1px Gray;
	text-align: left;
	vertical-align: middle;
	font-size: 15px;
	padding-bottom: 25px;

}

.divMainSection	 h1 {
	color: #4aaaa5;
	font-size: 30px;
	margin-left: 25px;
	border-bottom: dotted 1px Gray;
	padding-top: 10px;
	padding-bottom: 25px;
}

.divMainSection h2 {
	color: Gray;
	margin-left: 25px;
	font-size: 20px;
}


.divMainSection img {
	width: 200px;
	height: 200px;
	margin-left: 25px;
	border: dotted 1px Gray;
	float: left;
	margin-right: 25px;
}

.divMainSection p {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 20px;
	color: #777777;
	line-height: 1.5;
}


.divSideBar {
	width: 270px;
	height: 200px;
	margin-top: 35px;
	background-color: #ffffff;
	border: solid 1px #cccccc;
	float: left;
	margin-left: 35px;
}

.divSideBar h2 {
	color: #4aaaa5;
	font-size: 25px;
	text-align: center;
	margin-top: 25px;
	padding-bottom: 1px;

}


.imgContainer {
	width: 260px;
	height: 75px;
	margin: 0 auto;
	padding-top: 25px;
	border-top: solid 1px Gray;
}


.imgContainerGithub {
	float: left;
	margin-left: 30px;
}

.imgContainerLinkedin {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.imgContainerStackoverflow {
	float: right;
	margin-right: 30px;
	margin-top: 35px;
}