
body {
	background-image: url("../images/brickwall_@2X.png");
}

.divBanner {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-color: Gray;
	position: relative;
	margin: 0 auto: ;
	background-color: #ffffff;
}

.divNameHeading {
	width: 250px;
	height: 80px;
	background-color: #4aaaa5;
	position: absolute;
	top: 9px;
	left: 160px;
	text-align: center;
	z-index: 2;	
}


.divNameHeading h1 {
	color: White;
	font-size: 30px;
}


.divMainSection {
	width: 650px;
	height: 500px;
	margin-left: 150px;
	margin-top: 35px;
	background-color: #ffffff;
	border: solid 1px #cccccc;
	float: left;
}

.divMainSection	 h1 {
	color: #4aaaa5;
	font-size: 30px;
	margin-left: 25px;
	border-bottom: dotted 1px Gray;
	padding-top: 10px;
	padding-bottom: 25px;

}


.divMainSection img {
	width: 200px;
	height: 200px;
	margin-left: 25px;
	border: dotted 1px Gray;
	float: left;
	margin-right: 25px;
}

.divMainSection p {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 20px;
	color: #777777;
	line-height: 1.5;
}


.divSideBar {
	width: 270px;
	height: 250px;
	margin-top: 35px;
	background-color: #ffffff;
	border: solid 1px #cccccc;
	float: left;
	margin-left: 35px;
}

.divSideBar h2 {
	color: #4aaaa5;
	font-size: 25px;
	text-align: center;
	margin-top: 25px;
	border-bottom: dotted 1px Gray;
	padding-bottom: 25px;
}
